{# views/tables/table1.html.twig #}

<table width="100%" class="table table-striped">
    <thead>
        <tr>
            {% for item in table.thead %}
                <th data-type="{{ item }}" style="text-align:center;">
                    {{ item }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.tbody %}
            <tr>
                {% for item in row %}
                    <td name="{{ table.thead[loop.index - 1] }}" data-type="{{ table.thead[loop.index - 1] }}" data-value="{{ item }}" align="center">{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
