{# components/bills/views/addbill.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h2 id="titulo" class="page-header">Agregar Gasto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <form id="addbill" action="{{ form.action }}" method="{{ form.method }}">
                            <div class="form-group col-md-8">
                                <label for="">Proveedor:</label>
                                <select class="form-control" name="prov" id="prov" onchange="selectProvider(this)">
                                    <option>Seleccione proveedor</option>
                                    {% for prov in providers %}
                                        <option value="{{ prov.id }}"
                                        data-name="{{ prov.name }}"
                                        data-alias="{{ prov.alias }}"
                                        data-rif="{{ prov.rif }}">{{ prov.name }}</option>
                                    {% endfor %}
                                    <option value="0" default>Otro proveedor</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Fecha:</label>
                                <input placeholder="aaaa-mm-dd" class="form-control" type="date" name="date" id="date" value="" format="YYYY-MM-DD" required>
                                <div>

                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="">Nombre o Razón Social:</label>
                                <input class="form-control" type="text" name="name" id="name" onblur="capitalize(this)" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Forma de Pago:</label>
                                <select class="form-control" name="acc" id="method">
                                    {% for acc in accounts %}
                                        <option value="{{ acc.id }}">{{ acc.name }}, Saldo Bs. {{ acc.balance }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Descipción:</label>
                                <input class="form-control" placeholder="40 caracteres máximo" maxlength="40" type="text" name="desc" id="desc">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">RIF:</label>
                                <input class="form-control" type="text" name="rif" id="rif" value="" onblur="capitalize(this)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Tipo de Gasto:</label>
                                <!--<input class="form-control" type="text" name="class" id="spe_type" value="" onblur="check_type(this)">-->
                                <select class="form-control" name="class" id="class">
                                    <option value="1" id="up_fk_type_1">PERSONAL</option>
                                    <option value="2" id="up_fk_type_2">MATERIALES</option>
                                    <option value="3" id="up_fk_type_3">SERVICIOS</option>
                                    <option value="4" id="up_fk_type_4">BIENES</option>
                                    <option value="5" id="up_fk_type_5">LEGAL</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">Forma de Cargo:</label>
                                <select class="form-control" name="op" id="op" >
                                    <option value="">Seleccione:</option>
                                    <option value="0">Equitativo</option>
                                    <option value="1">Ponderado</option>
                                </select>
                            </div>
                            <div class="from-group col-md-5">
                                <label for="">Monto:</label>
                                <input class="form-control" type="text" name="amount" value="" id="amount" placeholder="Formato : #.###.###,##" onblur="setIvaTotal()" onkeyup="alertNumberEs(this)">
                            </div>
                            <div class="form-group col-md-7" style="text-align:center;">
                                <div class="col-md-12">
                                    <label for="">IVA:</label>
                                </div>

                                <div class="col-md-4">
                                    <select class="form-control" width="12px" name="" id="alic" onchange="setIvaTotal()">
                                        <option value="0.12">12%</option>
                                        <option value="0.1">10%</option>
                                        <option value="0">Excento</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" width="12px" type="text" name="iva" value="" id="iva" readonly>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="">Total:</label>
                                    <input class="form-control" type="text" name="total" value="" id="total" onchange="setIvaTotal()" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Tipo de Soporte:</label>
                                    <select class="form-control" name="log" id="log">
                                        <option value="COMPROBANTE">Comprobante</option>
                                        <option value="FACTURA">Factura</option>
                                        <option value="RECIBO">Recibo</option>
                                        <option value="N/D" selected>Ninguno</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                {% include 'views/widgets/flash.html.twig' %}
                            </div>

                            <div class="col-md-12 button_box" align="center">
                                <button type="submit" class="btn btn-success">Enviar</button>
                                 <button type="button" name="back" class="btn btn-warning" onclick="history.go(-1)">Regresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% for script in js %}
        <script src="{{ script }}" charset="utf-8"></script>
    {% endfor %}
{% endblock %}
