{# components/finances/views/balance.html.twig #}

{% extends 'views/base.html.twig' %}

{% block body %}
    {% include 'views/menu.html.twig' %}

    {% block main %}
        <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Balance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Disponibilidad</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Saldo Corriente:</th>
                                    <td id="totalaccounts" align="right" data-type='monto' data-value="{{ data.accounts.msg }}">{{ data.accounts.msg|number_format }}</td>
                                </tr>
                                <tr>
                                    <th>Total Fondos:</th>
                                    <td id="totalfunds" align="right" data-type='monto' data-value="{{ data.funds.msg }}">{{ data.funds.msg|number_format }}</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <th id="disponibility" align="right" data-type='monto'></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default" id="aptos">
                    <div class="panel-heading">
                        <h3 class="panel-title">Balance por apartamento</h3>
                    </div>
                    <div class="panel-body" id="aptbalances">
                        {{ include(template_from_string(apts)) }}
                    </div> <!--/panel-body-->
                </div> <!--/panel-->
            </div> <!-- /col-lg-6-->
            <div class="col-lg-8">
                <div class="panel panel-default" style="margin-bottom:80px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cuentas</h3>
                    </div>
                    <div class="panel-body" id="accounts">
                        {{ include(template_from_string(accounts)) }}
                    </div>
                    <div class="panel-footer col-lg-12" style="text-align:right;">
                        <button type="button" name="agregar_proveedor" class="btn btn-primary" onclick="openNewAccountDialog()">Nueva Cuenta</button>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom:80px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fondos Especiales</h3>
                    </div>
                    <div class="panel-body" id="funds">
                        {{ include(template_from_string(funds)) }}
                    </div>
                    <div class="panel-footer col-lg-12" style="text-align:right;">
                        <button type="button" name="agregar_proveedor" class="btn btn-primary" disabled>Nuevo Fondo</button>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom:80px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movimientos</h3>
                    </div>
                    <div class="panel-body" id="movimientos">
                        {% include loading %}
                    </div>
                    <div class="panel-footer col-lg-12" style="text-align:right;">
                        <button type="button" name="agregar_proveedor" class="btn btn-primary" disabled>Nuevo Movimiento</button>
                    </div>
                </div>
            </div>
        </div> <!-- /row-->
    </div> <!--/page-wrapper-->
    {% endblock %}
    {% for script in js %}
        <script src="{{ script }}" charset="utf-8"></script>
    {% endfor %}
{% endblock %}
